Repository woocommerce/woocommerce-square, pull requests merged in 2024-03, with the labels that each got.

#62 [Cash App Pay] Add support for “Charge” and “Authorization” transaction types
  includes/Framework/PaymentGateway/Admin/Payment_Gateway_Admin_Order.php
  includes/Framework/PaymentGateway/Handlers/Capture.php
  includes/Framework/PaymentGateway/Payment_Gateway.php
  includes/Gateway/API.php
  includes/Gateway/API/Response.php
  includes/Gateway/API/Responses/Create_Payment.php
  includes/Gateway/Cash_App_Pay_Gateway.php
  tests/e2e/specs/d3.cash-app-pay-trasaction-type.spec.js
  tests/e2e/utils/helper.js
Labels: needs: e2e testing, needs: Woo review

#67 fix/63: disable gateway if currency is not supported
  changelog.txt
  includes/Gateway.php
  readme.txt
  tests/e2e/specs/a5.connect-sandbox.spec.js
Labels: needs: e2e testing

#82 Bump WooCommerce "tested up to" version 8.7 and and WordPress 6.5
  .gitattributes
  .github/workflows/e2e.yml
  .gitignore
  readme.txt
  tests/bin/set-core-version.js
  woocommerce-square.php
Labels: status: e2e tests passing, needs: WP RC test

#70 [Cash App Pay] Add support for splitting payments between a Square Gift Card and Cash App Pay.
  assets/js/frontend/wc-square-cash-app-pay.js
  includes/API.php
  includes/Framework/PaymentGateway/Admin/Payment_Gateway_Admin_Order.php
  includes/Framework/PaymentGateway/Handlers/Capture.php
  includes/Framework/PaymentGateway/Payment_Gateway.php
  includes/Framework/PaymentGateway/Payment_Gateway_Direct.php
  includes/Framework/PaymentGateway/Payment_Gateway_Plugin.php
  includes/Gateway.php
  includes/Gateway/API.php
  includes/Gateway/API/Requests/Payments.php
  includes/Gateway/API/Responses/Create_Payment.php
  includes/Gateway/Cash_App_Pay_Gateway.php
  includes/Gateway/Gift_Card.php
  includes/Gateway/Templates/payment.php
  includes/Handlers/Order.php
  tests/e2e/specs/a3.extension-tabs.spec.js
  tests/e2e/specs/b4.gift-card-partial-payment.spec.js
  tests/e2e/specs/b5.gift-card-full-refund.spec.js
  tests/e2e/specs/b6.gift-card-partial-refund.spec.js
  tests/e2e/specs/d4.cash-app-pay-partial-gift-card.spec.js
  tests/e2e/utils/helper.js
Labels: needs: e2e testing, needs: qit api test

#87 Release/4.6.0
  .wp-env.json
  changelog.txt
  includes/Framework/PaymentGateway/Admin/Payment_Gateway_Admin_Order.php
  includes/Framework/PaymentGateway/Payment_Gateway.php
  includes/Gateway.php
  includes/Gateway/API.php
  includes/Gateway/API/Requests/Payments.php
  includes/Gateway/API/Responses/Create_Payment.php
  includes/Gateway/Cash_App_Pay_Gateway.php
  includes/Handlers/Order.php
  package-lock.json
  package.json
  readme.txt
  woocommerce-square.php
Labels: needs: e2e testing, needs: WP RC test
