Repository woocommerce/woocommerce-square, pull requests merged in 2024-12, with the labels that each got.

#246 Fix product duplication issue on the Square side when WooCommerce is SOR.
  includes/Settings.php
  includes/Sync/Manual_Synchronization.php
Labels: status: e2e tests passing

#239 Bump WooCommerce "tested up to" version 9.5
  tests/e2e/specs/d1.cash-app-pay.spec.js
  tests/e2e/specs/d6.woo-sor.spec-with-inventory-new-editor.spec.js
  tests/e2e/specs/f1.pre-orders.spec.js
  tests/e2e/utils/helper.js
  woocommerce-square.php
Labels: needs: e2e testing, status: e2e tests passing

#249 [E2E] Fix test d6.woo-sor.spec-with-inventory-new-editor > OnePlus 8 pushed to Square with inventory
  tests/e2e/specs/d6.woo-sor.spec-with-inventory-new-editor.spec.js
  tests/e2e/utils/helper.js
Labels: needs: e2e testing, status: e2e tests passing

#255 Release/4.8.4
  changelog.txt
  package-lock.json
  package.json
  readme.txt
  woocommerce-square.php
Labels: needs: e2e testing, needs: qit default tests, status: e2e tests passing

#257 Updating GitHub actions due deprecation
  .github/workflows/e2e.yml
  .github/workflows/php-compat.yml
  .github/workflows/phpcs.yml
Labels: status: e2e tests passing
