Repository woocommerce/woocommerce-square, pull requests merged in 2024-06, with the labels that each got.

#103 Update Square PHP SDK to v35
  composer.json
  composer.lock
Labels: needs: e2e testing

#107 Fix the 'Sync stock from Square' and 'Sync inventory' links on the edit product screen.
  assets/js/admin/wc-square-admin-products.js
  package.json
  tests/e2e/specs/c3.woo-sor.spec-with-inventory.spec.js
  tests/e2e/specs/c4.product-import.spec.js
  tests/e2e/utils/helper.js
Labels: needs: e2e testing

#126 Address PHPCS errors
  includes/API.php
  includes/Framework/Api/Base.php
  includes/Framework/PaymentGateway/Admin/Payment_Gateway_Admin_User_Handler.php
  includes/Framework/PaymentGateway/ApplePay/Api/Payment_Gateway_Apple_Pay_Api.php
  includes/Framework/PaymentGateway/ApplePay/Payment_Gateway_Apple_Pay.php
  includes/Framework/PaymentGateway/ApplePay/Payment_Gateway_Apple_Pay_Admin.php
  includes/Framework/PaymentGateway/ApplePay/Payment_Gateway_Apple_Pay_Ajax.php
  includes/Framework/PaymentGateway/ApplePay/Payment_Gateway_Apple_Pay_Orders.php
  includes/Framework/PaymentGateway/Integrations/Payment_Gateway_Integration_Subscriptions.php
  includes/Framework/PaymentGateway/PaymentTokens/Payment_Gateway_Payment_Tokens_Handler.php
  includes/Framework/PaymentGateway/Payment_Gateway.php
  includes/Framework/PaymentGateway/Payment_Gateway_Direct.php
  includes/Framework/Plugin_Compatibility.php
  includes/Framework/Plugin_Dependencies.php
  includes/Framework/Utilities/WP_Background_Job_Handler.php
  includes/Gateway.php
  includes/Gateway/Digital_Wallet.php
  includes/Handlers/Category.php
  includes/Handlers/Connection.php
  includes/Handlers/Product.php
  includes/Handlers/Products.php
  includes/Sync/Product_Import.php
  includes/Utilities/Encryption_Utility.php
  includes/Utilities/Helper.php
Labels: needs: e2e testing

#131 Address QIT PHPStan test errors
  .github/workflows/qit.yml
  includes/API/Request.php
  includes/Emails/Base_Email.php
  includes/Framework/Api/API_Request.php
  includes/Framework/Api/Base.php
  includes/Framework/Lifecycle.php
  includes/Framework/PaymentGateway/Api/Payment_Gateway_Api_Authorization_Response.php
  includes/Framework/PaymentGateway/ApplePay/Payment_Gateway_Apple_Pay.php
  includes/Framework/PaymentGateway/Integrations/Payment_Gateway_Integration_Pre_Orders.php
  includes/Framework/PaymentGateway/Integrations/Payment_Gateway_Integration_Subscriptions.php
  includes/Framework/PaymentGateway/PaymentTokens/Payment_Gateway_Payment_Tokens_Handler.php
  includes/Framework/PaymentGateway/Payment_Gateway.php
  includes/Framework/Utilities/WP_Background_Job_Handler.php
  includes/Gateway/API/Response_Message_Helper.php
  includes/Gateway/Blocks_Handler.php
  includes/Gateway/Digital_Wallet.php
  includes/Gateway/Gift_Card.php
Labels: needs: qit phpstan test

#155 Release/4.6.3
  changelog.txt
  includes/Framework/Api/Base.php
  includes/Utilities/Helper.php
  package-lock.json
  package.json
  readme.txt
  tests/e2e/utils/helper.js
  woocommerce-square.php
Labels: needs: e2e testing

#127 Add tracks for onboarding
  assets/new-user-experience/components/onboarding-header/index.js
  assets/new-user-experience/modules/configure-sync/index.js
  assets/new-user-experience/onboarding/onboarding-app.js
  assets/new-user-experience/onboarding/steps/payment-complete/index.js
  assets/new-user-experience/onboarding/steps/payment-methods/index.js
  assets/tracks/index.js
  includes/Admin.php
  package-lock.json
  package.json
Labels: changelog: none

#147 Bump WooCommerce "tested up to" version 9.0
  readme.txt
  tests/e2e/utils/helper.js
  woocommerce-square.php
Labels: needs: e2e testing, needs: qit e2e test

#158 Release/4.7.0
  assets/new-user-experience/settings/settings-app.js
  changelog.txt
  includes/Handlers/Order.php
  includes/Settings.php
  package-lock.json
  package.json
  readme.txt
  tests/e2e/specs/a4.gateway-status.spec.js
  tests/e2e/specs/a5.connect-sandbox.spec.js
  tests/e2e/specs/b3.gift-card-full-payment.spec.js
  tests/e2e/specs/b4.gift-card-partial-payment.spec.js
  tests/e2e/specs/b5.gift-card-full-refund.spec.js
  tests/e2e/specs/b6.gift-card-partial-refund.spec.js
  tests/e2e/specs/b7.gift-card-partial-payment-partial-refund.spec.js
  tests/e2e/specs/b8.gift-card-product.spec.js
  tests/e2e/specs/b9.wrong-gift-card-number.spec.js
  tests/e2e/specs/c1.gift-card-product-refund.spec.js
  tests/e2e/specs/c4.product-import.spec.js
  tests/e2e/specs/d5.cash-app-pay-gift-card-product.spec.js
  tests/e2e/utils/helper.js
  woocommerce-square.php
Labels: needs: e2e testing
