Repository woocommerce/woocommerce-square, pull requests merged in 2024-07, with the labels that each got.

#169 Bump WordPress Tested up to version 6.6
  readme.txt
  woocommerce-square.php
Labels: needs: e2e testing, needs: WP RC test

#172 Ensure the product category syncs properly between the Square and WooCommerce store
  includes/Handlers/Category.php
  includes/Handlers/Product.php
  includes/Handlers/Product/Woo_SOR.php
  includes/Sync/Product_Import.php
  tests/e2e/specs/c2.woo-sor.spec.js
  tests/e2e/specs/c4.product-import.spec.js
  tests/e2e/specs/c5.product-import-and-update.spec.js
  tests/e2e/utils/helper.js
  tests/e2e/utils/square-sandbox.js
Labels: needs: e2e testing

#184 upkeep/146: Run E2E on every pull request
  .github/workflows/e2e.yml
Labels: changelog: none, status: e2e tests passing

#190 Release/4.7.2
  changelog.txt
  package-lock.json
  package.json
  readme.txt
  woocommerce-square.php
Labels: needs: e2e testing, needs: qit default tests, status: e2e tests passing
