Repository woocommerce/woocommerce-square, pull requests merged in 2025-01, with the labels that each got.

#263 Bump WooCommerce "tested up to" version 9.6
  woocommerce-square.php
Labels: needs: e2e testing, status: e2e tests passing

#268 Move to `@woocommerce/e2e-utils-playwright`
  package-lock.json
  package.json
  tests/e2e/specs/a6.transaction-authorize.spec.js
  tests/e2e/specs/a7.transaction-authorize-virtual-only.spec.js
  tests/e2e/specs/a8.transaction-authorize-paid-order.spec.js
  tests/e2e/specs/a9.transaction-capture.spec.js
  tests/e2e/specs/a91.card-logos.spec.js
  tests/e2e/specs/a92.currency-support.spec.js
  tests/e2e/specs/a93.credit-card-form-fields.spec.js
  tests/e2e/specs/b1.tokenization.spec.js
  tests/e2e/specs/b3.gift-card-full-payment.spec.js
  tests/e2e/specs/b4.gift-card-partial-payment.spec.js
  tests/e2e/specs/b5.gift-card-full-refund.spec.js
  tests/e2e/specs/b6.gift-card-partial-refund.spec.js
  tests/e2e/specs/b7.gift-card-partial-payment-partial-refund.spec.js
  tests/e2e/specs/d1.cash-app-pay.spec.js
  tests/e2e/specs/d2.cash-app-pay-inventory-sync.spec.js
  tests/e2e/specs/d3.cash-app-pay-trasaction-type.spec.js
  tests/e2e/specs/d4.cash-app-pay-partial-gift-card.spec.js
  tests/e2e/specs/digital-wallets-cart.js
  tests/e2e/specs/e1.subscriptions.spec.js
  tests/e2e/utils/helper.js
Labels: status: e2e tests passing

#265 fix/85: unblock UI and show generic error when buyer verification fails
  src/js/frontend/wc-square.js
Labels: needs: UAT, status: e2e tests failing, status: e2e tests passing

#264 Fix inventory sync for variable products when sync is enabled through quick or bulk edit.
  includes/Handlers/Products.php
Labels: status: e2e tests passing

#273 Release/4.8.5
  changelog.txt
  package-lock.json
  package.json
  readme.txt
  tests/e2e/specs/c4.product-import.spec.js
  woocommerce-square.php
Labels: status: e2e tests passing

#271 Add the WordPress Plugin Check Action
  .github/workflows/e2e.yml
  .github/workflows/plugin-check.yml
  includes/API.php
  includes/Framework/Api/Base.php
  includes/Framework/PaymentGateway/Admin/Payment_Gateway_Admin_User_Handler.php
  includes/Framework/PaymentGateway/Admin/views/html-admin-gateway-status.php
  includes/Framework/PaymentGateway/ApplePay/Api/Payment_Gateway_Apple_Pay_Api.php
  includes/Framework/PaymentGateway/ApplePay/Payment_Gateway_Apple_Pay_Ajax.php
  includes/Framework/PaymentGateway/Payment_Gateway.php
  includes/Framework/PaymentGateway/Payment_Gateway_Payment_Form.php
  includes/Framework/Utilities/WP_Background_Job_Handler.php
  includes/Gateway.php
  includes/Gateway/Cash_App_Pay_Gateway.php
  includes/Gateway/Digital_Wallet.php
  includes/Gateway/Gift_Card.php
  includes/Gateway/Payment_Form.php
  includes/Handlers/Connection.php
  includes/Handlers/Order.php
  includes/Handlers/Products.php
  includes/Sync/Records/Record.php
  includes/Utilities/Helper.php
  phpcs.xml.dist
Labels: status: e2e tests failing, status: e2e tests passing
